<div id="cms">
	<p>
		Todos los contenidos
		<a rel="license" href="http://creativecommons.org/licenses/by/2.5/es/">Creative Commons Licensed 2008</a>
		por el equipo de la Conferencia Rails Hispana.
	</p>
</div>