<% title "Registro" %>

<div id="items">
	<h1>¡Weeehooo!</h1>
	
	<div id="item">
		<p>Muchas gracias, su cuenta ha sido creada.</p>
		<p>Para activarla debes hacer click en el enlace que te llegará por correo.</p>
		<p>
			Si no recibes ningún correo, notifícalo por favor a
			<%= enkode_mail('registro@conferenciarails.org', 'registro@conferenciarails.org') %>
		</p>		
	</div>
</div>

