<p>Hola, <b><%= @usuario.login%></b>.</p>
<p>Has debido recibir por error un correo diciendo que habías realizado el pago de la cena de la Conferencia Rails.</p>
<p>Lo sentimos, pero no hemos recibido el pago.</p>
